# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml

# Compiled Java
*.class

# Dependency directories
/bin/
/lib/

# Build files
build/
build.gradle
.gradle/
!.gradle/caches/

# Other
*.log
*.swp
